<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
</head>
<body>
    <h1>Weather Forecast for {{ weather_data.0.city.name }}</h1>
    <table>
        <tr>
            <th>Date/Time</th>
            <th>Temperature</th>
            <th>Weather</th>
            <th>Description</th>
        </tr>
        {% for forecast in weather_data %}        
        <tr>
            <td>{{ forecast.datetime }}</td>
            <td>{{ forecast.temperature }} &#8451;</td>
            <td>{{ forecast.weather }}</td>
            <td>{{ forecast.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>