<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete City</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <h1 class="title">Delete City</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">City Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="Enter city name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>