<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
        .custom-background {
            background-color: black;
        }

        .custom-box {
            background-color: #209cee;
            color: white;
        }
    </style>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container level">
                <h1 class="title level-left">
                    What's the weather like?
                </h1>
                <div class="media-content level-right">
                    <div class="content">
                        <p>
                            <span class="title">{{ location_data.country }}, {{ weather_data.region }}</span>
                            <br>
                            <span class="subtitle">{{ weather_data.temp_now }}</span>
                            <br> {{ weather_data.weather_now }}
                            <br> {{ weather_data.dayhour }}
                            <br>
                            <a href="{% url 'hourly_temperatures' %}">View Hourly Temperatures</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section custom-background">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <form id="addCityForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button is-success">Add City</button>
                    </form>
                </div>
                <div class="column">
                    <form id="deleteCityForm">
                        {% csrf_token %}
                        {{ delete_form.as_p }}
                        <button type="submit" class="button is-danger">Delete City</button>
                    </form>
                </div>
            </div>
            <div id="weatherData">
                {% include 'weather/weather_data.html' %}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Submit the add city form using AJAX
            $('#addCityForm').submit(function(event) {
                event.preventDefault(); // Prevent form submission
    
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_city" %}',
                    data: $(this).serialize(),
                    success: function(response) {
                        // Update the weather data section with the new city
                        $('#weatherData').html(response);
                    }
                });
            });
    
            // Submit the delete city form using AJAX
            $('#deleteCityForm').submit(function(event) {
                event.preventDefault(); // Prevent form submission
    
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_city" %}',
                    data: $(this).serialize(),
                    success: function(response) {
                        // Update the weather data section after deleting the city
                        $('#weatherData').html(response);
                    }
                });
            });
        });
    </script>
    
</body>
</html>
