<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
        .custom-background {
            background-color: black;
        }
    </style>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container level">
                <h1 class="title level-left">
                    What's the weather like?
                </h1>
                <div class="media-content level-right">
                    <div class="content">
                        <p>
                            <span class="title">{{ location_data.country }}, {{ weather_data.region }}</span>
                            <br>
                            <span class="subtitle">{{ weather_data.temp_now }}</span>
                            <br> {{ weather_data.weather_now }}
                            <br> {{ weather_data.dayhour }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section custom-background">
        <div class="container">
            <div class="columns is-multiline">
                {% for weather in ls_of_weather %}
                <div class="column is-4">
                    <div class="box is-info">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.region }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temp_now }}</span>
                                        <br> {{ weather.weather_now }}
                                        <br> {{ weather.dayhour }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>
